body{
    margin: 0;
    background-color: rgb(19, 124, 138);
    background-repeat: no-repeat;
    background-size:cover;
}
.menu{flex: 1;
    margin-left: 20%;
    list-style: arial;
    padding: 0;
    background: #197988;
    width: 90%;
    max-width: 100%;
    margin: auto;
}

.menu li a{
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}

.menu li{
    display: inline-block;
    text-align: center;
}

.menu li a:hover{
    background: #3097eb;
    opacity: 50%;
}   

ul{
    list-style: none;
    align-content: center;
}

.conteiner{
    width: 90%;
    margin: auto;
}

/* Navigation */
.nav-main{
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:30%;
    padding: 20px 30px;

}


.nav-brand {
    width: 70px;
}

/*NAV-LEFT*/

.nav-main ul{
    display: flex;
}

.nav-main ul li{
    padding: 10px;
}

.nav-main ul li a{
    padding: 7px;
}

.nav-main ul li a:hover{
    border-bottom: 2px solid cornsilk;

}

.nav-main ul.nav-menu{
    flex: 1;
    margin-left: 20px;

}

/* SHOCASE*/

hr{
    margin: 10px 0;
}
.Showcase{
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
    margin-bottom: 500px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
    color:lightblue;
}

.Showcase{
    opacity: 50%;
}

.btn:hover{
    opacity: .5;
    color:lightblue;
    align-content: flex-end;
}
.btn{
    
}
.Showcase h2,
.Showcase p{
    margin-bottom: 15px;
}

/* NEWS CARDS */

.news-cards{
    display: grid;
    grid-template-columns: repeat(4, 56fr);
    gap: 25px;
    margin: 15px 10px;
    font-style: arial helvetica;
}

.news-cards{
    padding: 20px 30px;
    color: lightblue;
}

.news-cards img{
    width: 80%;
    height: 180px;
}

.news-cards h3{
    font-size:  20px;
    margin: 10px 0;
}

.news-cards a{
    padding: 10px 0;
    color: palevioletred;
    text-transform: uppercase;
    display: inline-block;
    font-weight: arial;
    border:9px;
}

.news-cards a:hover{
    text-decoration: underline;

}

